sessions
emacs_backups
emacs_autosaves
auto-save-list
server
games
README
*.elc
**/*.elc
tramp
/el-get/el-get/recipes/*
plugins/nxhtml/*
url/*
elpa/builtin-packages
elpa/archive-contents
elpa/**/*.el
el-get
history
